*{
    margin: 0;
    padding: 0;
}
#game{
    height: 818px;
    width: 1238px;
    border: 1px solid black;
    background-color: cornflowerblue;
    margin: auto;
    overflow: hidden;
}
#block{
    height: 818px;
    width: 100px;
    background-color:black;
    position: relative;
    left: 1238px;
    animation: block 2s infinite;
}
@keyframes block{
    0%{left: 1238px;}
    100%{left: -100px;}
}
#passage{
    height: 300px;
    width: 100px;
    background-color:cornflowerblue;
    position: relative;
    left: 1238px;
    top: -818px;
    animation: block 2s infinite;
}
#character{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 100px;
    background-color:red;
    border-radius: 40%;

}